In [1]:
import os
import pandas as pd

In [2]:
sp_top_50 = pd.read_csv("stock_tables/sp_top_50.csv", index_col=0)

## Add % chg to each stock during _Jan to Apir_ and _Apir to July_

In [3]:
def find_chg(symbol):
    prices = pd.read_csv(f"stock_tables/sp500_stocks/{symbol}.csv",index_col=0)
    prices.index = pd.to_datetime(prices.index)
    now = float(prices.loc['2020-07-01']['4. close'].values)
    mid = float(prices.loc['2020-04-01']['4. close'].values)
    start = float(prices.loc['2020-01-02']['4. close'].values)
    change_jan_to_apr = (mid-start)/start
    change_apr_to_jul = (now-mid)/mid
    return change_jan_to_apr, change_apr_to_jul

In [4]:
summary_prices_tups = []
for symbol in sp_top_50['Symbol']:
    summary_prices_tups.append(find_chg(symbol))

In [5]:
change_jan_to_apr, change_apr_to_jul = list(zip(*summary_prices_tups))

In [6]:
sp_top_50["change_jan_to_apr"] = change_jan_to_apr
sp_top_50["change_apr_to_jul"] = change_apr_to_jul

In [7]:
sp_top_50[sp_top_50['change_jan_to_apr']>0] #aha no surprise

,Company,Symbol,Weight,Price,Chg,% Chg,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded,latitude,longitude,change_jan_to_apr,change_apr_to_jul
2,Amazon.com Inc.,AMZN,5.094660,"3,101.00",-99.00,-3.09,Amazon.com Inc.,reports,Consumer Discretionary,Internet & Direct Marketing Retail,"Seattle, Washington",18/11/2005,1018724,1994,47.603832,-122.330062,0.005105,0.508990
14,NVIDIA Corporation,NVDA,0.979764,403.48,-15.69,-3.74,Nvidia Corporation,reports,Information Technology,Semiconductors,"Santa Clara, California",30/11/2001,1045810,NaN,37.233325,-121.684635,0.013172,0.568273
16,Netflix Inc.,NFLX,0.917025,537.5,-11.23,-2.05,Netflix Inc.,reports,Communication Services,Movies & Entertainment,"Los Gatos, California",20/12/2010,1065280,1997,37.226611,-121.974680,0.103908,0.333883
40,Eli Lilly and Company,LLY,0.521319,161,-2.36,-1.44,Lilly (Eli) & Co.,reports,Health Care,Pharmaceuticals,"Indianapolis, Indiana",31/12/1970,59478,1876,39.768333,-86.158350,0.031843,0.197039

In [8]:
sp_top_50.to_csv("stock_tables/sp_top_50.csv")